ion-header {
  --background: #fff;
  --border-width: 0;
}

.ion-justify-content-center {
  justify-content: center !important;
}

.ion-align-items-center {
  align-items: center !important;
}

.ion-text-center {
  text-align: center !important;
}

.full-width {
  --padding-start: 0;
  --padding-end: 0;
}

.item-avatar {
  width: 100% !important;
  height: 100% !important;
  max-width: 130px !important;
  max-height: 130px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.container-avatar {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.color-label {
  color: #12448f;
}

.color-title {
  color: #12448f;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.absolute,
.bottom-right-fixed {
  width: 40px;
  height: 40px;
  background: var(--ion-toolbar-background-new);
  color: var(--ion-toolbar-text);
  border-radius: 100%;
  padding: 0.6rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 15;
}

button {
  background: var(--ion-toolbar-background-new);
}

.text-color {
  color: red;
}
