
ion-header {
    --background: #fff;
    --border-width: 0;
  }

  .ion-justify-content-center {
    justify-content: center !important;
  }
  
  .ion-align-items-center {
    align-items: center !important;
  }
  
  .ion-text-center {
    text-align: center !important;
  }

  .full-width {
    --padding-start: 0;
    --padding-end: 0;
  }